# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/

# pytest
.pytest_cache/

# Editor directories and files
.vscode/
.idea/
.venv/

# macOS
.DS_Store

# Logs
*.log